/******************** GENERAL STYLES *********************/
:root {
    --main-color: #b1b9c7;
    --secondary-color: #e6ebed;
    --accent-color: #256093;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--main-color);
    padding: 1rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.funny-font {
    font-family: "Poor Story", cursive;
    color: var(--accent-color);    
    text-align: center;  
}

.player-color {
    color: green;
}

.ai-color {
    color: red;
}

/****************** GAME BOARD STYLES ********************/
#game-board {
    background-color: var(--secondary-color);
    border-radius: 1rem;    
    padding: 1rem;
    margin-bottom: 1rem;
}

#board-heading {
    margin-bottom: 1rem;
}

#board-heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;    
}

#board-heading h2 {
    font-size: 1.5rem;
}

#match-score {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;    
}

.rival-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rival-pic-container {
    width: 80%;
    aspect-ratio: 1/1;
    height: 100%;
    border: 0.25rem solid black;  
    border-radius: 1rem;
    padding: 0.3125rem;
}

.rival-picture {
    width: 100%;
    -webkit-user-drag: none;  
}

.vs-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.score {       
    font-size: 3rem;         
}

#round-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.round-description {
    font-size: 1.5rem;
}

#buttons-area {    
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 0.625rem;
}

#button-row {    
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.placeholder {
    font-size: 1.25rem;
}

.hidden {
    visibility: hidden;
}

.weapon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}

.btn {
    width: 100%;
    aspect-ratio: 1/1;
    height: 100%;
    padding: 0.3125rem;
    background-color: var(--main-color);    
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 400ms;
}

.btn:hover {
    background-color: var(--accent-color);
    transform: scale(1.1);    
}

.btn-play-again {
    color: var(--accent-color);
    font-size: 2.5rem;
    font-weight: bold;
}

.btn-play-again:hover {
    color: var(--secondary-color);
}

.weapon-img {    
    width: 100%;
    object-fit: contain;
    -webkit-user-drag: none;
}

#instructions {
    font-size: 1.5rem;
}

footer {
    background-color: var(--accent-color);    
    border-radius: 1rem;
    text-align: center;
    padding: 1.25rem 0;
}

footer p,
footer a {
    color: var(--secondary-color);
}

/* RESPONSIVE DESIGN */
/* Tablet */
@media only screen and (min-width: 426px) {
    html {
        font-size: 18px;
    }

    .container {
        max-width: 500px
    }

    #game-board {
        padding: 1rem 3rem;
    }
}

/* Laptop and up */
@media only screen and (min-width: 1025px) {
    html {
        font-size: 20px;
    }

    .container {
        max-width: 600px
    }

    #game-board {
        padding: 1rem 4rem;
    }
}